* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body {
  background: #eceff1;
  height: 100dvh;
}

.elipsis { 
  // Elipsis on overflow
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
